# Node Modules
node_modules/
.env
.env.local
.env.development
.env.production
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & Deployment Files
dist/
build/
.vscode/
.idea/
